.auth-content {
    flex: 1 1 40%;
    text-align: center;
}


.auth-title {
    font-size: 1.55em;
    color: #00579B;
    font-weight: bold;
}

.auth-text {
    font-size: 1.2em;
    color: rgba(0,0,0,0.54);
}

.auth-image {

}

.auth-img {
    max-width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .registration {
        font-size: 16px;
    }
}

@media screen and (max-width: 772px) {
    .registration-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 552px) {
    .registration .common-form {
        width: 100%;
        padding: .5em 1em;
    }

    .registration {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .registration .common-form-passwords,
    .registration .common-form-footer {
        flex-direction: column;
    }
}
