.registration {
    font-size: 20px;
    padding-top: 10em;
}


.registration-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2em;
}

.registration-form {
    flex: 1 1 80%;
}


@media screen and (max-width: 900px) {
    .registration {
        font-size: 16px;
    }
}

@media screen and (max-width: 772px) {
    .registration .common-form {
        width: 75%;
    }

    .registration-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 552px) {
    .registration .common-form {
        width: 80%;
        padding: 2em 1em;
    }

    .registration {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .registration {
        font-size: 12px;
    }

    .registration .common-form {
        width: 90%;
    }

    .registration .common-form-passwords,
    .registration .common-form-footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .registration .common-form {
        width: 100%;
    }

}
