
.burger-icon {
    position: relative;
    width: 1.5em;

    padding:.6em 0;

    cursor: pointer;
}

.burger-icon span {
    display: block;
    height: 1px;
    background: #000000;
}

.burger-icon:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    height: 1px;
    background: #000000;
}

.burger-icon:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1px;
    background: #000000;
    /*padding: ;*/
}
