
.rounded-link {
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    padding: .4em 2em;
    color: #ffffff;
    background: #03ACF2;
    border-radius: 1em;

    text-decoration: none;
}
